<h1>CommerceWork</h1>
<h2>Categories</h2>
<ul>
    {% for category in categories %}
    <li><a href="{% url 'category_products' category.slug %}">{{ category.name }}</a></li>
    {% endfor %}
</ul>
<ul>
    {% for product in products %}
    <li>
        <a href="{% url 'product_detail' product.slug %}">{{ product.title }}</a>
        - ${{ product.price }}
    </li>
    <li>
        <a href="{% url 'add_to_cart' product.id %}" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700">
            Add to Cart
          </a>
    </li>
    {% endfor %}
</ul>
